<%= form_with model: @project, url: {action: "create"}, local: true do |form| %>
 
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.submit %>
  </p>
 
<% end %>